{% extends 'base.html.twig' %}

{% block title %}Hello AdminController!
{% endblock %}

{% block body %}
	<section class="my-3 mx-5 align-content-center">
		{{ form(form) }}
			<form
				action="{{ path('delete', {id: id.id}) }}" method="post">
				{# simulier un requete delete cacher lier a overide:config/packages/framework #}
				<input type="hidden" name="_method" value="DELETE">
				<button type="submit" class="btn btn-danger">Supprimer</button>
			</form>
		</section>
	{% endblock %}
